<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text ="Regresar" defaultRef="/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Olvido Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onResetPassword(email)" expand="block" color ="tertiary">Solicitar un restablecimiento de contraseña</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
