   ion-item{
    --background:white;
    --color: rgb(0, 0, 0);
    }

    ion-content, ion-menu, ion-list {
    --background: rgb(0, 0, 0);
    }
    ion-header {
        --background: rgb(0, 0, 0);
        --color: white;
    }
    ion-toolbar{
    --background:white;
    --color: rgb(0, 0, 0);
    }