ion-content {
    --background: #f7f7f7;
  
    }
  
     ion-card{
      --background: rgb(0, 0, 0);
      --color: white;
    }
  
    ion-title{
      --color: rgb(0, 0, 0);
    }
  
    ion-list{
      padding-bottom: 0;
      padding-top: 0;
    }
  